.home{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .clickable{
    h2{
      color:$button-text;
    }

  }
  .project-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
}

